.header_conteiner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;
  box-sizing: border-box;
}

.header_menu_conteiner {
  width: 40%;
}

.header_menu {
  display: flex;
  align-items: center;
  height: max-content;
  justify-content: flex-end;
}

.header_menu_list {
  display: flex;
}
.header_menu_list li {
  margin-right: 22px;
  font-family: notosans;
  font-variant-caps: all-small-caps;
  font-size: 20px;
}

.header_logo_conteiner {
  cursor: pointer;
}
.header_menu_item {
  cursor: pointer;
}
