.header_conteiner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;
  box-sizing: border-box;
  background-color: var(--background-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.header_conteiner ol,
.header_conteiner ul {
  list-style: none;
}

.header_menu_conteiner {
  width: 40%;
}

.header_menu {
  display: flex;
  align-items: center;
  height: max-content;
  justify-content: flex-end;
}

.header_menu_list {
  display: flex;
  color: var(--headers-color);
}
.header_menu_list li {
  margin-right: 22px;
  font-family: notosans;
  font-variant-caps: all-petite-caps;
  font-size: 20px;
}

.header_logo_conteiner {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header_menu_item {
  cursor: pointer;
}

.switch_language_button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-family: notosans;
  font-size: 18px;
  line-height: 20px;
  font-weight: 800;
}

.header_menu_switch_language {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
  background-color: var(--lightgrey);
  margin-right: 22px;
}

.toggle {
  left: 0;
  box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
}

.toggle_menu {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px 2px 2px 3px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: none;
}

.line {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: var(--dark-green);
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
  background-color: #000000;
  transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
  display: none;
}

.toggle .line3 {
  background-color: #000000;
  transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.toggle .toggle_menu {
  background-color: white;
}

@media (max-width: 900px) {
  .toggle_menu {
    display: flex;
  }
  .header_menu {
    display: none;
  }
  .header_conteiner {
    padding: 15px 20px 15px 20px;
  }
}
