.content_conteiner {
  padding-top: 20px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.content_card {
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 4px;
}
.card_header_conteiner {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
}

.tools_conteiner {
  display: flex;
  gap: 10px;
  align-items: center;
}

.contact_tools {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
}
.contac_info_text {
  padding-top: 30px;
  line-height: 18px;
  font-size: 14px;
}

.contact_info_address,
.contact_info_emile,
.contact_info_phone {
  display: flex;
  gap: 10px;
  align-items: center;
}

.about_text p {
  text-align: justify;
  font-size: 14px;
}

.about_image,
.project_image_conteiner {
  float: left;
  margin-right: 10px;
}

.pagination_conteiner {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.project_image_conteiner {
  width: 100%;
  min-height: 200px;
  position: relative;
}
.project_name {
  padding-bottom: 20px;
  font-variant-caps: all-petite-caps;
  font-weight: 600;
  font-size: 18px;
}

.project_image {
  border-radius: 4px;
}

.users_title {
  padding-bottom: 20px;
  font-variant-caps: all-petite-caps;
  font-weight: 600;
  font-size: 18px;
}

.users_date {
  padding-bottom: 20px;
  font-variant-caps: all-petite-caps;
  font-weight: 600;
  font-size: 18px;
}

.users_description_conteiner p {
  font-size: 14px;
}

.edit,
.delete {
  cursor: pointer;
}
