.about_us_conteiner {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;
}
.about_us_image,
.about_us_text {
  width: 40%;
}

.about_us_text > h2 {
  font-family: notosans-Medium;
  font-variant-caps: all-petite-caps;
  font-size: 24px;
  padding-bottom: 20px;
  color: var(--readeble-text-color);
}

.about_us_text p {
  font-size: 14px;
  line-height: 1.5;
  color: var(--readeble-text-color);
}

@media (max-width: 900px) {
  .about_us_conteiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 30px 30px 30px;
    justify-content: center;
  }
  .about_us_image,
  .about_us_text {
    width: 100%;
  }
  .about_us_text p {
    text-align: justify;
  }
  .about_us_text > h2 {
    padding-top: 40px;
  }
}
