.main_button {
  background-color: var(--dark-green);
  color: var(--white);
  font-family: notosans;
  font-variant-caps: all-petite-caps;
  font-size: 18px;
  text-align: center;
  padding: 10px 25px 10px 25px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  line-height: 22px;
}
.main_button:active {
  border: none;
}

@media (max-width: 900px) {
  .main_button {
    width: 100%;
  }
}
