.completed_projects_conteiner {
  padding: 40px 70px 80px 70px;
  box-sizing: border-box;
}

.copleted_projects_items {
  height: 290px;
  display: flex;
  justify-content: space-between;
}

.copleted_project {
  width: 95%;
  cursor: pointer;
}

.completed_project_image_conteiner {
  border-radius: 8px !important;
}

.completed_project_image {
  pointer-events: none;
}

.copleted_project h2 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  padding: 0px 0px 25px 15px;
  color: white;
}

.carousel-paging-dots {
  position: relative !important;
  top: 50% !important;
  background-color: red;
}

.projects_title > p {
  font-family: notosans-Medium;
  font-variant-caps: all-small-caps;
  font-size: 24px;
  padding-bottom: 30px;
}
