.project_detal_description_card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.project_detal_slider_image_conteiner {
  height: 500px;
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.project_detal_slider_image {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.project_detal_slider_section {
  padding: 30px 0px 100px 0px;
}

.project_detal_description_card_conteiner {
  max-width: 80%;
  margin: 0 auto;
  line-height: 22px;
  text-align: justify;
}
.project_detal_description_section {
  padding-bottom: 5rem;
}
