.conteiner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_conteiner {
  width: 30%;
  height: 50%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* justify-content: center; */
  padding: 0px 20px 0px 20px;
}

.login_form_title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding: 50px 0px;
}

.form_loader_conteiner {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.login_spiner_conteiner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  opacity: 1;
  position: absolute;
  z-index: 3;
  box-sizing: border-box;
}
