.userssection_conteiner {
  box-sizing: border-box;
  padding: 50px 70px 80px 70px;
}

.userssection_title > p {
  font-family: notosans-Medium;
  font-variant-caps: all-small-caps;
  font-size: 24px;
}

.userssection_item {
  height: 250px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.current_user {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 20px;
}

.current_user > h1 {
  font-family: notosans-Medium;
  font-variant-caps: all-small-caps;
  font-size: 22px;
}
.current_user > p {
  font-size: 14px;
  line-height: 1.3;
  color: var(--grey);
}

.current_user > span {
  color: var(--grey);
}
