.modal_background {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  background-color: var(--grey);
  opacity: 0.5;
  left: 0;
  box-sizing: border-box;
  display: flex;
}
.modal_conteiner {
  background: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  left: 0;
}

.modal {
  width: 100%;
  height: 100vh;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal_item_conteiner {
  width: 50%;
  height: max-content;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px 30px 20px 30px;
}

.modal_title_conteiner {
  display: flex;
  justify-content: space-between;
}
