.dashboard_body_conteiner {
  width: 100%;
  height: calc(100vh - 83px);
  padding-top: 20px;
  display: flex;
  box-sizing: border-box;
  gap: 20px;
}
.dashboard_body {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  box-sizing: border-box;
}

.dashboard_body {
  padding: 30px;
}
