.users_section {
  padding-top: 30px;
}

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
}

.footer_section {
  padding-bottom: 150px;
  background-color: var(--light-grey);
}

/* @media (prefers-color-scheme: dark) {
  .footer_section {
    background-color: #000;
  }
} */

@media (max-width: 900px) {
  .footer_section {
    padding-bottom: 50px;
  }
}
