.users_section {
  padding-top: 30px;
}

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
}
.footer_section {
  padding-bottom: 150px;
  background-color: var(--light-grey);
}
