.all_users_conteiner {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.all_users_cards_conteiner {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.user_card {
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--cards-shadow);
  transition: 0.3s;
  cursor: pointer;
  margin: 10px;
  padding: 20px 20px;
  background-color: var(--background-color);
}

.user_cooperation_date_conteiner,
.user_name_conteiner {
  width: 100%;
}
.all_users_filter_conteiner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.25rem 1.25rem 0 1.25rem;
  box-sizing: border-box;
  position: relative;
}
.search_ico_conteiner {
  position: absolute;
  z-index: 10;
  margin-right: 10px;
}

.no_result_conteiner {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.no_result_text {
  color: var(--readeble-text-color);
  font-size: 1.5rem;
  font-weight: 500;
}

@media (max-width: 900px) {
  .all_users_filter_conteiner {
    position: fixed;
    z-index: 10;
  }
  .all_users_cards_conteiner {
    padding-top: 5rem;
  }
  .all_users_cards_conteiner {
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
  }
}
